/*

Title: Stylesheet Template

Author: Front End Web Design Bootcamp Class

*/

h1{
margin-top:3%;
text-align: 3%;
text-align: center;
}
h2{
text-align: left;

}

.img-align-right{
float: right;
margin: 5px;

}
.img-align-left{
	float: left;
	margin: 5px;
}


#wrapper{max-width: 960px;
margin: 0 auto;}





